@import "../../styles/variables.scss";

.search-bar {
  @include flex-align-justify(none, none);
  margin: auto;

  input {
    border: none;
    border-radius: 15px;
    font-size: 15px;
    padding: 6px 0 6px 10px;
    outline: none;
    width: 250px;
  }
  button {
    padding: 0 2px !important;
    background-color: $secondaryColor;
    width: 40px;
    opacity: 1 !important;
    float: right;

    img {
      width: 95%;
      position: relative;
      top: 2px;
    }
  }
  a {
    width: 0;
  }
}

.search {
  h1,
  h2 {
    color: #f3f3f3;
    text-align: center;
  }
  margin-top: 30px;
  &-results {
    display: grid;
    justify-content: center;
    grid-column-gap: 2em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(5, minmax(150px, 180px));
    margin: 2rem auto 0;
    width: 70%;
    h2 {
      width: fit-content;
    }
  }
  &-results-page-nav-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    justify-content: space-around;
    margin: 2em auto;
    max-width: 300px;
    button {
      font-size: 15px;
      // background-color: $secondaryColor;
      width: 130px;
      border-radius: 0;
      outline: none;
      opacity: 0.9 !important;

      &:hover {
        opacity: 1 !important;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .search-bar {
    right: 30px;
  }
  .search-results {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .search-bar {
    input{
      width: 180px;
    }
  }
  .search-results {
    grid-gap: 1em;
  }
}
